<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">To Do</h4>
        </div>

        <%= form_for(@task, html: {class: 'form-horizontal'}, remote: true) do |t| %>

        <div class="modal-body">

            <% @object = @task %>
            <%= render 'common/error_messages' %>

            <div class="field form-group">
                <%= t.label '标题', class: 'col-sm-2 control-label' %>
                <div class="col-sm-6">
                    <%= t.text_field :title, class: "form-control", placeholder: "输入标题，不为空" %>
                </div>
            </div>
            <div class="field form-group">
                <%= t.label '事项', class: "col-sm-2 control-label" %>
                <div class="col-sm-6">
                    <%= t.text_area :note, class: "form-control", placeholder: "输入事项，不为空" %>
                </div>
            </div>
            <div class="field form-group">
                <%= t.label '完成时间', class: "col-sm-2 control-label" %>
                <div class="col-sm-6">
                    <%= t.date_field :completed, class: "input-group date" %>
                </div>
            </div>
            <div class="field form-group">
                <%= t.label '分类', class: "col-sm-2 control-label" %>
                <div class="col-sm-6">
                    <%= t.select(:status, CATEGORY) %>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <%= t.submit '保存',:class => "btn btn-success btn-sm" %>
        </div>
        <% end %>
    </div>
</div>
