<table class="table" id="home_table">
  <% if @tasks.empty? %>
  <span class="bg-info">
      暂时没有待做事项！
  </span>
  <% else %>
    <tr>
        <th>
            Title
        </th>
        <th>
            Note
        </th>
        <th>
            Start
        </th>
        <th>
            Deadline
        </th>
        <th>
            Category
        </th>
        <th>
            Action
        </th>
    </tr>
    <% @tasks.each do |task| %>
    <tr class=<%='checked' if task.checked %>>
        <th class='checked_th'>
            <%= task.title %>
        </th>
        <th class='checked_th'>
            <%= task.note %>
        </th>
        <th class='checked_th'>
            <%= task.created_at.strftime('%F') %>
        </th>
        <th class='checked_th'>
            <%= task.completed %>
        </th>
        <th class='checked_th'>
            <%= task.status %>
        </th>
        <th>
            <%= link_to "", { :controller => 'tasks', :action => 'check', :id => task }, class: 'glyphicon glyphicon-ok', id: 'check_button', remote: true %>&nbsp&nbsp&nbsp&nbsp
            <%= link_to "", task_path(task), method: :delete , class: "glyphicon glyphicon-remove", remote: true %>&nbsp&nbsp&nbsp&nbsp
            <%= link_to "", edit_task_path(task), class: 'glyphicon glyphicon-pencil', id: 'edit_button' %>
        </th>
    </tr>
    <% end %>
    <% end %>
</table>
