<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application' %>
        <%= javascript_include_tag 'application' %>
        <title>Todo</title>
    </head>

    <body>
        <%= render "common/navbar" %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <% flash.each do |name, msg| %>
                    <%= content_tag :div, msg, class: "alert alert-#{name}" %>
                    <% end %>
                </div>
            </div>
            <%= yield %>
        </div>
        <%= render "common/footer" %>
    </body>
</html>
